.logo__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
    text-decoration: none;
    color: #333333;
}

.logo__text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
