@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

:root {
  --general-font: "Inter", "Arial", sans-serif;
}

body {
  font-family: var(--general-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
