.button {
    display: block;
    padding: 17px 98px;
    border: none;
    background-color: #fc9b27;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
