.about {
    position: relative;
    padding: 183px 90px;
    background-color: #d8ecfe;
}

.about::after {
    content: "";
    position: absolute;
    width: 273px;
    height: 544px;
    bottom: 0;
    right: 177px;
    background-image: url("../../../assets/about-man.svg");
}

.about::before {
    content: "";
    position: absolute;
    top: 76px;
    right: 90px;
    width: 446px;
    height: 447px;
    background-color: #c4e2ff;
    border-radius: 50%;
}

.about__description {
    font-family: var(--general-font);
}
